/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
    --largeur-max: 1440px;
    --largeur-min: 320px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: var(--largeur-max);
    min-width: var(--largeur-min);
    padding: 0 50px;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 40px;
}

.logo {
    width: 60px;
    height: 20px;
    padding-top: 15px;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 230px;
    position: relative;
    top: 2px;
}

.titre-menu {

    a {
        position: relative;
        top: 10px;
    }

    &:hover {
        position: relative;
        bottom: 1px;
        color: var(--main-color);
        border-top: 2px var(--main-color) solid;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.titre-filtre {

    h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        height: 19px;
        font-size: 16px;
        position: relative;
        top: -5px;
    }
}

.moteur-recherche {
    display: flex;
    height: 49px;
    width: 377px;
    margin-top: 25px;
    margin-bottom: 25px;

    input {
        box-sizing: border-box;
        border: 1px solid var(--main-bg-color);
        outline: none;
        width: 195px;
        font-size: 18px;
    }
}

.icon-gps {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);

    i {
        color: black;
        width: 14px;
        height: 18px;
    }
}

.bouton-recherche {
    width: 132px;
    display: flex;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    border-color: 1px solid var(--main-color);
    background-color: var(--main-color);

    p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        align-self: center;
        color: white;
    }
}

.filtre {
    color: #000000;
    font-size: 18px;
    width: 54px;
    height: 21px;
}

.filtre-button {
    display: flex;
}

.filtres {
    display: flex;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.filter-icon {
    border: 2px var(--filter-border-color) solid;
    background: white;
    border-radius: 25px;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    height: 45px;
    margin-left: 15px;

    &:hover {
        background-color: var(--filter-bg-color);
    }

    p {
        font-size: 17px;
        font-weight: 700;
        color: black;
        line-height: 19.96px;
        align-self: center;
    }

    i {
        color: var(--main-color);
        align-self: center;
        margin-right: 10px;
    }
}

.icon-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;

    div {
        display: flex;
        justify-content: center;
        border: 1px var(--filter-border-color) solid;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 12px;

        i {
            align-self: center;
            color: var(--main-color);
        }
    }
}

.cards-hebergements {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: space-between;
    position: relative;
    top: -10px;
    a {
        width: 31%;
    }
}

.afficher-plus {
    position: relative;
    top: 20px;
}

.card-hebergement {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    height: 207.25px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   
    img {
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}

.card-hebergement-rating {
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-hebergement-txt {
    height: 50px;

    h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin: 0;
    }

    p {
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 10px;
    }
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.conteneur-activites{
    margin-top: 70px;
    h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.activites {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
 
.activite {
    width: 23%; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px var(--filter-border-color);
    img {
        width: 100%;
        height: 380px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
    }
}
    




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

    h2 {
        position: relative;
        top: -22px;
    }
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: 50px;
    position: relative;
    bottom: -10px;
}

.footer-info {
    width: 33.33%;
    padding-left: 20px;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 18.78px;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        height: 270px;
    }

    .activite {
        img {
            height: 200px;
        }
    } 
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-header {
        flex-direction: column;

        div {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .main-menu {
       width: 100%; 
       justify-content: center;
    } 

    .titre-menu {
        width: 100%;
        text-align: center ;
        a {
            position: relative;
            top: -10px;
        }
    
        &:hover {
            position: relative;
            bottom: -1px;
            color: var(--main-color);
            border-top: none;
            border-bottom: 2px var(--main-color) solid;
        }
    }

    .filtres {
        justify-content: none;
        flex-direction: column;
        align-items: start;
    }

    .filtre {
        border:1px red solid;
    }

    .filtre-button {  
        flex-wrap: wrap;
        flex: 2;
        justify-content: space-between;
        a {
            width: 42%;
            margin-top: 20px;
        }
    }

    .filter-icon {
        margin: 0;
    }

}